.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  top: 0;
  left: 0;
  right: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.card {
  padding-top: 7vw;
}
.borderLeftRight {
  display: inline-block;
  position: relative;
  color: hsl(222, 25%, 14%);
}

.borderLeftRight::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: hsl(243, 80%, 62%);
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.borderLeftRight:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.slideUpBtn {
  padding: 12px 24px;
  background-color: transparent;
  border: 2px solid hsl(243, 80%, 62%);
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
}

.slideUpBtn span {
  display: inline-block;
  transition: inherit;
  color: hsl(243, 80%, 62%);
}

.slideUpBtn:hover span {
  opacity: 0;
  transform: translateY(-100%);
}

.slideUpBtn::before {
  content: "";
  background-color: hsl(243, 80%, 62%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: inherit;
  width: 100%;
  transition: transform 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
}
//section1 button
.slideUpBtn::after {
  content: "Hover me";
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transition: inherit;
  transform: translateY(100%);
  width: 100%;
}

.slideUpBtn:hover::before {
  transform: translateY(0) scale(3);
  transition-delay: 0.025s;
}

.slideUpBtn:hover::after {
  opacity: 1;
  color: hsl(222, 100%, 95%);
  transform: translateY(0);
}
//section3 button
.slideUpBtn {
  padding: 12px 24px;
  background-color: transparent;
  border: 2px solid hsl(243, 80%, 62%);
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
}

.slideUpBtn span {
  display: inline-block;
  transition: inherit;
  color: hsl(243, 80%, 62%);
}

.slideUpBtn:hover span {
  opacity: 0;
  transform: translateY(-100%);
}

.slideUpBtn::before {
  content: "";
  background-color: hsl(243, 80%, 62%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: inherit;
  width: 100%;
  transition: transform 0.5s cubic-bezier(1, 0.15, 0.34, 0.92);
}

.slideUpBtn::after {
  content: "Register!";
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transition: inherit;
  transform: translateY(100%);
  width: 100%;
}

.slideUpBtn:hover::before {
  transform: translateY(0) scale(3);
  transition-delay: 0.025s;
}

.slideUpBtn:hover::after {
  opacity: 1;
  color: hsl(222, 100%, 95%);
  transform: translateY(0);
}
